
<header class="form_header">
  <a href="/">
    <img src="/arr.png" alt="back to home page" />
  </a>
  <h2>Register</h2>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name , hidden: true%><br />
    <%= f.text_field :name, placeholder: 'Name', autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email , hidden: true%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.label :password , hidden: true%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Passsword' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , hidden: true %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password' %>
  </div>

  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
