<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<header class="form_header">
  <a href="/">
    <img src="/arr.png" alt="back to home page" />
  </a>
  <h2>Add a new category</h2>
<%= form_tag destroy_user_session_path, method: :delete, class: 'logout' do %>
    <%= submit_tag "Sign Out" %>
  <% end %>
</header>

<%= form_with model: @group, url: "/users/categories/create", scope: :group do |f|%>
  <div>
    <%= f.label :name, hidden: true %><br>
    <%= f.text_field :name, placeholder: 'Category Name' %>
  </div>

  <div>
    <%= f.label :icon, hidden: true %><br>
    <%= f.text_field :icon, placeholder: 'Icon' %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
